//====================================================================================================
.footer {
		&__container {
		}

		&__body {
                  display: grid;
                  grid-template-columns: 249px 1fr 292px;
                  @include adaptiv-value("padding-top", 80, 30, 1);
                  @include adaptiv-value("padding-bottom", 50, 30, 1);
                  @include adaptiv-value("column-gap", 80, 0, 1);
                  border-top: 1px solid #D8D8D8;
                  @media (max-width:$md1+px){
                        grid-template-rows: auto auto;
                        grid-template-columns: 1fr 292px;
                  }
                  @media (max-width:$md2+px){
                        display: block;
                  }
		}

		&__info {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  @media (max-width:$md1+px){
                        //span ключевое слово, которое дает определить количество ячеек которое может занять элемент
                        grid-column: span 2;
                        @include adaptiv-value("margin-bottom", 40, 30, 1);
                  }
		}

		&__logo {
                  margin: 0px 0px 16/24 * 1em 0px;//чтобы уменьшался вместе со шрифтом
		}

		&__text {
                  line-height: 150%;
                  color: $darkGrayColor;
                  //т.к размер шривта равен 16, то отступ можно сделать равным одному размеру шрифта
                  margin: 0px 0px 1em 0px;
		}

		&__contacts {
            
		}

		&__menu {
                  @media (max-width:$md2+px){
                        @include adaptiv-value("margin-bottom", 40, 30, 1);
                  }
		}

		&__subscribe {
		}
}
.contacts-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
		&__item {
                  display: inline-flex;
                  align-items: center;
                  color: $darkGrayColor;
                  transition: color 0.3s ease 0s;
                  &::before{
                        margin: 0px 8px 0px 0px;
                        color: $grayColor;
                        transition: color 0.3s ease 0s;
                  }
                  &:not(:last-child) {
                        @include adaptiv-value("margin-bottom", 16, 10, 1);
                  }
                  @media (any-hover: hover){
                        &:hover{
                              color: $orangeColor;
                              &::before{
                                    color: $orangeColor;
                              }
                        }
                  }
		}
}
.menu-footer { 
      @media (min-width:$md3+px){
            display: flex;
      }
		&__column {
                  @media (min-width:$md3+px){
                        flex: 0 1 33.333%;
                  }
                  @media (max-width:$md3+px){
                        @include adaptiv-value("margin-bottom", 30, 15, 1);
                  }
		}

		&__title {
                  cursor: default;
                  @media (min-width:$md3+px){
                        margin: 0px 0px 16/24 * 1em 0px;
                  }
                  //?Когда у родителя юудет класс инит тайтлу будут применятся стили ниже
                  ._init &{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        flex-direction: row-reverse;
                        @extend ._icon-arrow;//подключаем стили этого класса
                        &::before{
                              @extend %ic;
                              font-size: 14px;
                              transform:rotate(-90deg);
                              transition: transform 0.3s ease 0s;
                        }
                  }
                  &._active {
                        &::before{
                              transform: rotate(90deg);
                        }
                  }
		}

		&__list {
                  @media (max-width:$md3+px){
                        padding: 15px 0px 0px 0px;
                  }
		}

		&__item {
                  &:not(:last-child) {margin: 0px 0px 16px 0px;}
		}

		&__link {
                  line-height: 150%;
                  font-weight: 500;
                  color: $darkGrayColor;
                  transition: color 0.3s ease 0s;
                  @media (any-hover: hover){
                        &:hover{
                              color: $orangeColor;
                        }
                  }
		}
}

.subscribe {
		&__title {
                  margin: 0px 0px 16/24 * 1em 0px;
		}

		&__form {
                  display: flex;
                  position: relative;//для вывода ошибки
                  height: 45px;
                  color: #828282;
                  .form__error{
                        position: absolute;
                        top: 100%;
                        margin: 3px 0px 0px 0px;
                        left: 12px;
                        color: red;
                        font-size: 12px;
                  }
		}
            &__input{
                  width: 100%;
                  padding: 0 12px;
                  background: #F4F5F7;
                  color: #828282;
            }
		&__button {
                  flex: 0 0 45px;
                  height: 45px;
                  display: flex;
                  justify-content:center;
                  align-items: center;
                  font-size: 18px;
                  background: $orangeColor;
                  color: #fff;
                  margin: 0px 0px 0px 4px;
                  transition: all 0.3s ease 0s;
                  @media (any-hover: hover){
                        &:hover{
                              background: #be825c;
                        }
                  }
		}
}
//====================================================================================================
